<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeTube</title>
</head>
<body>
    <section id="main">
        <div class="title">
            <span>We</span>
            <span>Tube</span>
        </div>
        <div class="buttons">
            <button data-type="create">Create a Room</button>
            <button data-type="join">Join a Room</button>
        </div>
    </section>
    <!-- Overlay prompts start -->
    <div class="prompt prompt--join">
        <input type="text" name="prompt-join-input" class="prompt__input prompt__input--join"> 
        <button class="prompt__button prompt__button--join">Join</button>
    </div>
    <div class="prompt prompt--create">
        <input type="text" name="prompt-create-input" class="prompt__input prompt__input--create"> 
        <button class="prompt__button prompt__button--create">Create</button>
    </div>
    <!-- Overlay prompts end -->
    <script src="/scripts/landing-page.js"></script>
</body>
</html>