<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeTube</title>
</head>
<body>
    <section id="main">
        <div class="title">
            <span>We</span>
            <span>Tube</span>
        </div>
        <div class="buttons">
            <button>Create a Room</button>
            <button>Join a Room</button>
        </div>
    </section>
    <!-- Delete later  -->
    <div class="prompt prompt--create"></div>
    <div class="prompt prompt--join"></div>
</body>
</html>