<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
</head>
<body>
    <section id="main">
        <div id="player"></div>
        <input type="text" name="youtube-video" id="submit-video-input">
        <button class="submit-video-btn">Video</button>
    </section>
    <aside>
        <ul class="chat__box"></ul>
        <input type="text" name="chat-msg" id="chat__msg">
        <button class="chat__btn">Send Message</button>
    </aside>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/scripts/youtube-player.js"></script>
    <script src="/scripts/room.js"></script>
</body>
</html>